#section {
    margin: var(--ilw-accordion-panel--section-margin);
}

#section.expanded {
    margin: var(--ilw-accordion-panel--expanded--section-margin);
}

#header-parent {
    cursor: pointer;
    color: var(--ilw-color--gray--text);
    padding: var(--ilw-accordion-panel--header-padding);
    background: var(--ilw-accordion-panel--background);
    border-left: var(--ilw-accordion-panel--border-left);
}

#header-parent:hover {
    background: var(--ilw-accordion-panel--background-hover);
}

#header-parent:focus-within {
    background-color: var(--ilw-color--focus--background);
    color: var(--ilw-color--focus--text);
    outline: var(--ilw-color--focus--outline);
}

#header-text {
    /* Focus is handled by the surrounding parent */
    outline: none;
}

#header-text-icon {
    display: flex;
    column-gap: 20px;
    margin: var(--ilw-accordion-panel--margin);
}

#header {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.expanded #panel {
    padding: var(--ilw-accordion-panel--padding);
}

#icon {
    display: flex;
    padding: 0;
    margin: 0;
    transform: var(--ilw-accordion-panel--image-transform);
    color: currentColor;
}

#icon svg {
    width: var(--ilw-accordion-panel--image-size);
}

.expanded #icon {
    transform: var(--ilw-accordion-panel--image-transform-expand);
}