.page {
    margin: 0 var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 0;
}

.full, .auto {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    right: 50%;
    width: 100vw;
}

.orange {
    --ilw-accordion-panel--border-left: 6px solid var(--il-orange);
}

.arches {
    --ilw-accordion-panel--border-left: 6px solid var(--il-arches);
}

.industrial {
    --ilw-accordion-panel--border-left: 6px solid var(--il-industrial);
}

.auto {
    --ilw-accordion-panel--margin: 0 var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 0;
    --ilw-accordion-panel--padding: 5px var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 20px;
}

ul.buttons {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

ul.buttons[hidden] {
    display: none;
}

ul.buttons li button {
    background-color: var(--ilw-color--white--control);
    border: 2px solid var(--ilw-color--white--control-text);
    border-radius: .25em;
    color: var(--ilw-color--white--control-text);
    cursor: pointer;
    display: inline-block;
    font: 700 1.188rem / 1.25rem var(--il-font-sans);
    letter-spacing: .01em;
    margin: 6px 0;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
}

.orange ul.buttons li button, .altgeld ul.buttons li button {
    background-color: var(--ilw-color--orange--control-text);
    border: 2px solid var(--ilw-color--orange--control);
    color: var(--ilw-color--orange--control);
}

ul.buttons li button:hover {
    background-color: var(--ilw-color--white--control-text);
    border-color: var(--ilw-color--white--control-text);
    color: var(--ilw-color--white--control);
}

.orange ul.buttons li button:hover, .altgeld ul.buttons li button:hover {
    background-color: var(--ilw-color--orange--control);
    border: 2px solid var(--ilw-color--orange--control-text);
    color: var(--ilw-color--orange--control-text);
}

ul.buttons li button:focus {
    background-color: var(--ilw-color--focus--background);
    border-color: var(--ilw-color--focus--text);
    color: var(--ilw-color--focus--text);
    outline: var(--ilw-color--focus--outline);
}