:root {
    --ilw-accordion--margin: 0 var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 0;
    --ilw-accordion--accent: var(--il-blue);

    --ilw-accordion-panel--image-transform: rotate(270deg);
    --ilw-accordion-panel--image-transform-expand: rotate(0);
    --ilw-accordion-panel--margin: 0;
    --ilw-accordion-panel--padding: 5px 10px 20px 65px;
    --ilw-accordion-panel--section-margin: 0 0 20px 0;
    --ilw-accordion-panel--expanded--section-margin: 0 0 10px 0;
    --ilw-accordion-panel--header-padding: 30px 24px;
}

ilw-accordion {
    font-family: var(--il-font-sans);
    font-size: 1.125rem;
}

ilw-accordion[accent="arches"] {
    --ilw-accordion--accent: var(--il-arches);
}

ilw-accordion[accent="industrial"] {
    --ilw-accordion--accent: var(--il-industrial);
}

ilw-accordion[accent="altgeld"] {
    --ilw-accordion--accent: var(--il-altgeld);
}

ilw-accordion[accent="orange"] {
    --ilw-accordion--accent: var(--il-orange);
}

ilw-accordion[accent="gray"] {
    --ilw-accordion--accent: var(--il-storm-95);
}

ilw-accordion *[slot="summary"] {
    font: 600 1.375rem/1.875rem var(--il-font-sans);
    padding: 0;
    margin: 0;
}

ilw-accordion *[slot="summary"], ilw-accordion *[slot="summary"] a, ilw-accordion *[slot="summary"] strong, ilw-accordion *[slot="summary"] em {
    color: unset;
}

