:root {
    --ilw-accordion--margin: 0 var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 0;
    --ilw-accordion-panel--color: var(--il-blue);
    --ilw-accordion-panel--background: var(--il-storm-lighter-4);
    --ilw-accordion-panel--hover-color: var(--il-blue);
    --ilw-accordion-panel--hover-background: var(--il-storm-lighter-3);
    --ilw-accordion-panel--image-transform: rotate(270deg);
    --ilw-accordion-panel--image-transform-expand: rotate(0);
    --ilw-accordion-panel--margin: 0;
    --ilw-accordion-panel--padding: 5px 10px 20px 65px;
    --ilw-accordion-panel--border-left: 6px solid var(--il-blue);

    --ilw-accordion-panel--section-margin: 0 0 20px 0;
    --ilw-accordion-panel--expanded--section-margin: 0 0 10px 0;
    --ilw-accordion-panel--header-padding: 30px 24px;
}

ilw-accordion {
    font-family: var(--il-font-sans);
    font-size: 1.125rem;
}

ilw-accordion h2, ilw-accordion h3, ilw-accordion h4, ilw-accordion h5 {
    font: normal 700 2.1875rem/2.6875rem var(--il-font-sans);
    padding-top: 15px;
}

ilw-accordion *[slot="summary"] {
    font: 600 1.375rem/1.875rem var(--il-font-sans);
}

ilw-accordion *[slot="summary"], ilw-accordion *[slot="summary"] a, ilw-accordion *[slot="summary"] strong, ilw-accordion *[slot="summary"] em {
    color: unset;
}