:root {
    --ilw-accordion--color: var(--il-blue);
    --ilw-accordion--color-hover: var(--il-storm-lighter-4);
    --ilw-accordion--background: var(--il-storm-lighter-4);
    --ilw-accordion--background-hover: var(--il-blue);
    --ilw-accordion--image-transform: rotate(270deg);
    --ilw-accordion--image-transform-expand: rotate(0);
    --ilw-accordion--margin: 0 max(1.875rem, calc(50cqw - 37.5rem)) 0;
    --ilw-accordion-panel--margin: 0;
    --ilw-accordion-panel--padding: 5px 10px 20px 65px;
}

ilw-accordion {
    font-family: var(--il-font-sans);
    font-size: 1.125rem;
}

ilw-accordion *[slot="summary"] {
    font: 600 1.375rem/1.875rem var(--il-font-sans);
}

