.page {
    margin: 0 var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 0;
}

.full, .auto {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    right: 50%;
    width: 100vw;
}

.orange {
    --ilw-accordion-panel--border-left: 6px solid var(--il-orange);
}

.arches {
    --ilw-accordion-panel--border-left: 6px solid var(--il-arches);
}

.industrial {
    --ilw-accordion-panel--border-left: 6px solid var(--il-industrial);
}

.auto {
    --ilw-accordion-panel--margin: 0 var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 0;
    --ilw-accordion-panel--padding: 5px var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 20px;
    --ilw-accordion-panel--border-left: none;
}

ul.ilw-buttons {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    margin: 10px 0 0 0;
    justify-content: left;
}

ul.ilw-buttons li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.ilw-buttons button {
    background-color: #fff;
    color: var(--il-blue);
    border: 2px solid var(--il-blue);
    font: 700 1.188rem / 1.25rem var(--il-font-sans);
    display: inline-block;
    margin: 6px 0;
    padding: 0.5rem 0.625rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25em;
    letter-spacing: .01em;
    transition: background-color 0.3s;
    cursor: pointer;

    &:visited {
        outline: 0;
        background-color: #fff;
        color: var(--il-blue);
        border: 2px solid var(--il-blue);
    }

    &:hover {
        outline: 0;
        background-color: var(--il-blue);
        color: #fff;
        text-decoration: underline;
    }
    &:focus {
        background-color: var(--ilw-link--focus-background-color);
        color: var(--il-blue);
        text-decoration: underline;
        outline: var(--ilw-link--focus-outline);
    }
    &:active {
        background-color: var(--ilw-button--active-background-color);
        color: var(--ilw-button--active-color);
        outline: solid var(--ilw-button--active-border-color) 2px;
    }
}

ul.ilw-buttons button:disabled, ul.ilw-buttons button:disabled:hover {
    background-color: white;
    color: var(--il-storm-lighter-1);
    border: 2px solid var(--il-storm-lighter-1);
    outline: none;
    cursor: initial;
    text-decoration: none;
}
