.page {
    margin: 0 var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 0;
}

.full, .auto {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    right: 50%;
    width: 100vw;
}

.orange {
    --ilw-accordion-panel--border-left: 6px solid var(--il-orange);
}

.arches {
    --ilw-accordion-panel--border-left: 6px solid var(--il-arches);
}

.industrial {
    --ilw-accordion-panel--border-left: 6px solid var(--il-industrial);
}

.auto {
    --ilw-accordion-panel--margin: 0 var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 0;
    --ilw-accordion-panel--padding: 5px var(--ilw-margin--side, max(1.875rem, calc(50cqw - 37.5rem))) 20px;
    --ilw-accordion-panel--border-left: none;
}

ul.buttons {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

ul.buttons li button {
    background-color: var(--ilw-accordion--button-background-color);
    border: 2px solid var(--ilw-accordion--button-border-color);
    border-radius: .25em;
    color: var(--ilw-accordion--button-foreground-color);
    cursor: pointer;
    display: inline-block;
    font: 700 1.188rem / 1.25rem var(--il-font-sans);
    letter-spacing: .01em;
    margin: 6px 0;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
}

ul.buttons li button:hover {
    background-color: var(--ilw-accordion--button-active-background-color);
    border-color: var(--ilw-accordion--button-active-border-color);
    color: var(--ilw-accordion--button-active-color);
    outline: solid var(--ilw-accordion--button-active-border-color) 1px;
}

ul.buttons li button:focus {
    background-color: var(--ilw-link--focus-background-color);
    border-color: var(--ilw-link--focus-color);
    color: var(--ilw-link--focus-color);
    outline: var(--ilw-link--focus-outline);
}